@using RPS.Web.Models.Routing;
@using RPS.Web.Models.ViewModels;
@model RPS.Core.Models.PtItem

<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2" id="itemTitle">@Model.Title</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button onclick="location.href = '@(Url.Action("Details", "Backlog", new { id = Model.Id }))'">Details</button>
                <button onclick="location.href = '@(Url.Action("Tasks", "Backlog", new { id = Model.Id }))'">Tasks</button>
                <button onclick="location.href = '@(Url.Action("Chitchat", "Backlog", new { id = Model.Id }))'">Chitchat</button>
            </div>
        </div>
    </div>

</div>

@{
    switch (ViewBag.screen)
    {
        case DetailScreenEnum.Details:
            <div id="detailsScreenContainer">
                @Html.Partial("_Details", new PtItemDetailsVm(Model, ViewBag.users))
            </div>
            break;
        case DetailScreenEnum.Tasks:
            <div id="tasksScreenContainer">
                @Html.Partial("_Tasks", new PtItemTasksVm(Model))
            </div>

            @section scripts {
                @Html.Partial("_TasksScripts")
            }

            break;
        case DetailScreenEnum.Chitchat:
            <div id="chitchatScreenContainer">
                @Html.Partial("_Chitchat", new PtItemCommentsVm(Model, ViewBag.currentUser))
            </div>
            break;
    }
}


@section styles {
    @Styles.Render("~/Content/detailcss")
}

